[tool.poetry]
name = "yn-ss-aiclass"
version = "0.1.0"
description = "class practice"
authors = ["Augustine77"]
license = "MIT"
readme = "README.md"

[tool.poetry.dependencies]
python = "^3.11"


[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
